<footer class="bg-dark text-center text-white fixed-bottom ">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<h4 class="text-warning">Quem sabe assim você obtenha um maior controle em seus gastos</h4>
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2022 Build by:
	  <a class="text-white" href="https://github.com/3insteinDev">3insteinDev</a>
	</div>
	<!-- Copyright -->
</footer>